*{
  background-color: #c9c9c9;
}
figure {
  width: 100px;
  float: left;
  margin-right: 75px
}
img {
  width: 150px;
  border-radius: 30%;
}
h1 {
  /*margin: 0px auto 30px auto;*/
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  font-size: 2em;
}
span {
  font-size: 1.3em;
}
#header-links {
  display: inline-block;
}
nav {
  text-align: center;
  border-bottom: 2px solid black;
}
nav ul li {
  display: inline;
  padding: 5px 50px 5px 50px;
  margin-left: -5px;
}

nav ul li a {
  text-decoration: none;
  color: #4ea2e5;
}

a:hover {
  color: green;
}
footer {
  bottom: 0;
  text-align: center;
}
div {
  position: absolute;
}
div a img {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
  padding-left: 50px;

}
#github {
  margin-left: 550px
}
section {
  margin-top: 70px;
}